@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.142 0.005 298.313204060303);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.142 0.005 298.313204060303);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.142 0.005 298.313204060303);
    --primary: oklch(0.584 0.152 293.41811483321493);
    --primary-foreground: oklch(0.949 0.017 298.24667341532063);
    --secondary: oklch(0.969 0.001 298.54221111756215);
    --secondary-foreground: oklch(0.212 0.005 298.1492246138571);
    --muted: oklch(0.969 0.001 298.54221111756215);
    --muted-foreground: oklch(0.483 0.109 294.2369208252456);
    --accent: oklch(0.889 0.025 298.0658485590651);
    --accent-foreground: oklch(0.195 0.031 295.6609990371405);
    --destructive: oklch(0.58 0.237 28.43022926835137);
    --border: oklch(0.889 0.005 298.46957460245);
    --input: oklch(0.889 0.005 298.46957460245);
    --ring: oklch(0.584 0.152 293.41811483321493);
    --chart-1: oklch(0.584 0.152 293.41811483321493);
    --chart-2: oklch(0.76 0.064 297.062975371008);
    --chart-3: oklch(0.869 0.021 298.13738046277547);
    --chart-4: oklch(0.439 0.201 287.1355781677943);
    --chart-5: oklch(0.373 0.153 288.9776390078883);
    --sidebar: oklch(0.969 0.001 298.54221111756215);
    --sidebar-foreground: oklch(0.212 0.005 298.1492246138571);
    --sidebar-primary: oklch(0.584 0.152 293.41811483321493);
    --sidebar-primary-foreground: oklch(0.949 0.017 298.24667341532063);
    --sidebar-accent: oklch(0.889 0.025 298.0658485590651);
    --sidebar-accent-foreground: oklch(0.195 0.031 295.6609990371405);
    --sidebar-border: oklch(0.889 0.005 298.46957460245);
    --sidebar-ring: oklch(0.584 0.152 293.41811483321493);
}

.dark {
    --background: oklch(0.195 0.031 295.6609990371405);
    --foreground: oklch(0.959 0.003 298.5037152250286);
    --card: oklch(0.231 0.041 295.2609894878333);
    --card-foreground: oklch(0.959 0.003 298.5037152250286);
    --popover: oklch(0.231 0.041 295.2609894878333);
    --popover-foreground: oklch(0.959 0.003 298.5037152250286);
    --primary: oklch(0.569 0.18 291.97159434877136);
    --primary-foreground: oklch(0.946 0.021 298.18113318602474);
    --secondary: oklch(0.317 0.019 297.49917838217084);
    --secondary-foreground: oklch(0.959 0.003 298.5037152250286);
    --muted: oklch(0.317 0.019 297.49917838217084);
    --muted-foreground: oklch(0.696 0.039 297.5677539656414);
    --accent: oklch(0.43 0.095 294.3454353210776);
    --accent-foreground: oklch(0.954 0.01 298.37616189985755);
    --destructive: oklch(0.58 0.237 28.43022926835137);
    --border: oklch(0.391 0.039 296.78334614137043);
    --input: oklch(0.391 0.039 296.78334614137043);
    --ring: oklch(0.569 0.18 291.97159434877136);
    --chart-1: oklch(0.569 0.18 291.97159434877136);
    --chart-2: oklch(0.669 0.145 294.4229780234717);
    --chart-3: oklch(0.775 0.102 296.17992875922664);
    --chart-4: oklch(0.449 0.173 289.847997719326);
    --chart-5: oklch(0.391 0.116 292.48129280217233);
    --sidebar: oklch(0.301 0.06 294.7888102884819);
    --sidebar-foreground: oklch(0.959 0.003 298.5037152250286);
    --sidebar-primary: oklch(0.569 0.18 291.97159434877136);
    --sidebar-primary-foreground: oklch(0.946 0.021 298.18113318602474);
    --sidebar-accent: oklch(0.43 0.095 294.3454353210776);
    --sidebar-accent-foreground: oklch(0.954 0.01 298.37616189985755);
    --sidebar-border: oklch(0.391 0.039 296.78334614137043);
    --sidebar-ring: oklch(0.569 0.18 291.97159434877136);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
